.categories {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.category-section{
    width: 100vw;
    background-color:#1C1C1C;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80vw;
}


.category:nth-child(even) {
    flex-direction: row-reverse;
}

.category-img {
    width: 42%;
    height: auto;
    /*object-fit: cover;*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-text {
    width: 50%;
    text-align: left;
}

.category-text h2 {
    font-size: 2.3rem;
    margin-bottom: 0.5em;
     color: white;
}

.category-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
}

.view-more{
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
}
